html {font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;overflow: -moz-scrollbars-none; -ms-overflow-style: none;}
html::-webkit-scrollbar { width: 0 !important }

.link {
 color: black;
 font-size: 13px;;
 cursor: pointer;
 margin: 25px;
 float: left;
}

.headerBar {
 border: 2px solid;
 width: 99.8%;
 height: 70px;
}

#navButton {
 font-size: 13px;
 cursor: pointer;
 margin: 25px;
 float: right;
}

.sidenav {
  background-color: white;
  border: 1px solid;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  color: black;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

.pimg {
 text-align: center;
}

.c {
 overflow: hidden;
 display: inline-block;
 border: 2px solid;
 margin-left: 40px;
 width: 200px;
}

.p {
 text-align: center;
 font-size: 50px;
}

.subtitle {
 font-size: 15px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}