.dg,
.main,
.a {
  z-index: 5;
}
button {
  color: #fff;
  background-color: #26282c;
  border: #26282c 0px;
}
* {
  color: #fff;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  background-color: #26282c;
}
*::-webkit-scrollbar {
  width: 0 !important;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
#canvas {
  z-index: -2;
  position: absolute;
  float: left;
  border: 1px solid #fff;
}
#directions,
#windSpeed,
#meters {
  visibility: hidden;
}
a {
  font-size: 14px;
}
input {
  background-color: #26282c;
  border: none;
  outline: none;
}
