* {
    font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
    transition: 0.5s;
}

::-webkit-selection {
    background: #ac3b61;
    color: white;
    border-radius: 3px;
    text-shadow: 0 0 10px #FFFFFF;
}

::-moz-selection {
    background: #ac3b61;
    color: white;
    border-radius: 3px;
    text-shadow: 0 0 10px #FFFFFF;
}

::selection {
    background: #ac3b61;
    color: white;
    border-radius: 3px;
    text-shadow: 0 0 10px #FFFFFF;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #eee2dc;
}

body::-webkit-scrollbar {
    width: 0 !important;
}

#header {
    cursor: default;
    width: 100%;
    height: 5em;
    background-color: #0080ff;
    -webkit-box-shadow: 0px 0px 13px 13px #0080ff;
    -moz-box-shadow: 0px 0px 13px 13px #0080ff;
    box-shadow: 0px 0px 13px 13px #0080ff;
    position: absolute;
    z-index: 11;
}

#title {
    font-size: 40px;
    margin-right: 1em;
    background: -moz-linear-gradient(top, #EEE2DC 0%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #EEE2DC 0%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #EEE2DC 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link {
    font-size: 25px;
    margin-right: 1em;
}

#links {
    background: -moz-linear-gradient(top, #EEE2DC 0%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #EEE2DC 0%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #EEE2DC 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about:hover,
.projects:hover,
.info:hover,
.contact:hover,
#title:hover {
    text-decoration: underline;
}

#pageContent {
    width: 100%;
    height: 100%;
    border: 0;
}

#contentCover {
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    overflow: unset;
    z-index: 10;
    background-color: transparent;
    top: 3em;
    pointer-events: none;
}