#scLink {
    position: absolute;
    width: 0em;
    height: 0em;
    border-right: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-top: 2em solid black;
    border-left: 2em solid black;
    z-index: 5;
}
#scLink:hover, #scImage:hover #scLink {
    border-right: 2em solid transparent;
    border-bottom: 2em solid transparent;
    border-top: 3em solid gray;
    border-left: 3em solid gray;
}
#scLink:hover #scImage, #scImage:hover {
    width: 4em;
    height: 4em;
    margin: -2.4em;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}
#scImage {
     width: 2.5em;
     height: 2.5em;
     border-radius: 5em;
     border-top: 2px solid white;
     border-left: 2px solid white;
     border-right: 2px solid black;
     border-bottom: 2px solid black;
     background-color: white;
     position: absolute;
     margin: -1.7em;
     z-index: 5;
}
